@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

/* .navigation {
  position: sticky;
  top: 0;
} */

.firstSection {
  /* background-color: rgba(0, 0, 0, 0.2); */
  position: relative;
  /* position: sticky; */
  /* top: 0; */
  /* background-color: blue; */
}
header.navbar {
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 2s ease 1s;
  position: sticky;
  top: 0;
  text-transform: uppercase;
  /* text-decoration: solid; */
  font-weight: bolder;
  font-size: 17px;
  /* position: fixed; */
  /* margin-top: 0; */
  /* background:  */
}

header.sticky {
  transition: all 2s ease 1s;

  /* background-color: white; */
  position: sticky;
  top: 0;
  z-index: -3;
}

header.sticky2 {
  transition: all 2s ease 1s;

  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 35px;
  color: white;
  padding-right: 20px;
}
.studio {
  color: rgb(255, 88, 31);
}
ul {
  list-style-type: none;
  text-decoration: none;
  /* display: block; */
}
.links {
  text-decoration: none;
  /* list-style-type: none; */
}

.navLinks li {
  display: inline-block;
  text-decoration: none;
  padding: 0 20px;
}

.navLinks li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: white;
  cursor: pointer;
  /* padding: 0 0 10px 13px; */
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  /* letter-spacing: 2px; */
}
.navLinks li a:hover {
  color: #0088a9;
}

button {
  padding: 12px;
  background-color: rgb(255, 88, 31);
  cursor: pointer;
  border: 2px solid rgb(255, 88, 31);
  color: white;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  display: inline-block;
}

button:hover {
  color: #0088a9;
  padding: 12px;
}

.videoDiv {
  height: 100vh;
  width: 100vw;
  /* position: absolute; */
  /* top: 0; */
  /* display: inline; */

  /* object-fit: contain; */
}
#myVideo {
  /* position: fixed; */
  position: absolute;
  /* margin: 0; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100vw;
  height: 100vh;

  /* min-width: 100vw; */
  /* min-height: 100vh; */
  z-index: -2;

  object-fit: cover;
  /* object-fit: contain; */
  /* overflow: hidden; */
  background-repeat: no-repeat;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.blackBackground1 {
  /* position: absolute;
  background-color: rgba(60, 73, 82);
  width: 100vh;
  height: 100vw;
  margin: 0; */

  position: absolute;
  /* position: absolute; */
  /* margin: 0; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* min-width: 100vw; */
  /* min-height: 100vh; */

  width: 100vw;
  height: 100vh;
  z-index: -1;

  object-fit: cover;
  object-fit: contain;

  background-color: rgba(60, 73, 82, 0.7);
  /* background-color: rgba(0, 0, 0, 0.6); */
}

.textContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-left: 15%;

  /* position: absolute; */
  /* justify-content: center; */
}
.textOverlay {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300px;
  color: white;
  z-index: 10;
  /* width: 500px; */
}

.work {
  font-size: 20px;
  margin-bottom: 2.3rem;
}
.easy {
  font-size: 90px;
}
.gym {
  color: rgb(255, 88, 31);
}

.membershipButton {
  padding: 12px;
  background-color: rgb(255, 88, 31);
  cursor: pointer;
  /* border: 2px solid rgb(255, 88, 31); */
  color: black;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 2.5rem;
}

.membershipButton:hover {
  background-color: #4b8594;
  padding: 15px;
  color: black;
}

.section2 {
  background-color: white;
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
  font-size: 40px;
  margin-top: 60;
  position: relative;
}

.section2Container {
  position: absolute;
  /* display: inline-block; */
  margin-top: 140px;
  margin-left: 425px;
}
.choose {
  text-transform: uppercase;
  font-size: 30px;
}
.program {
  color: rgb(255, 88, 31);
}

.section2article1 {
  font-size: 15px;
  margin-bottom: 15px;
}

.section2article2 {
  font-size: 15px;
}

.section2Image {
  margin-bottom: 12px;
}

/* PROGRAMS START */
.programsContainer {
  /* position: relative; */
}

.diffPrograms {
  text-align: left;
  margin-top: 25%;
  margin-left: 10%;
  position: absolute;
  border: 2px solid red;
  /* display: block; */
  display: flex;
  font-size: 15px;

  width: calc(100vw - 25%);
  /* height: 500px; */
}

.program1 {
  width: 50%;
}
.program1 img {
  float: left;
}

.program1Text {
  /* justify-content: left; */
  line-height: 25px;
}

.program2 {
  width: 50%;
}

.program2 img {
  float: left;
}

.diffPrograms2 {
  margin-top: 40%;
}
